﻿@model WebAppWithList.Models.EmpModel
@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>
                body {
            background-color: lightgrey;
            color: black;
        }

        label {
            color: blue;
            font-size: large;
        }

        a {
            background-color: white;
            color: black;
            padding: 5px;
            text-decoration: none;
            border: 1px solid black;
        }
        a:hover {
            background-color: black;
            color: white;

        }
        .head_container{
            display:flex;
            justify-content:center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .head_container_link{
            display:flex;
            justify-content:space-around;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .head_container_form {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            font-size: large;
        }

    </style>
</head>
    <body>
        <div class="head_container_form">
            @using (Html.BeginForm("AddEmployee", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
            <table cellpadding="0" cellspacing="1">
                <tr>
                    <th colspan="2" align="center" class="Heading">Employee Record Management System</th>
                </tr>
                <tr>
                    <td>EmployeeId: </td>
                    <td>
                        <br />
                        @Html.EditorFor(m => m.Id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>EmployeeCode: </td>
                    <td>
                        <br />
                        @Html.EditorFor(m => m.EmpCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.EmpCode, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td>EmployeeName:&nbsp;&nbsp;</td>
                    <td>
                        <br />
                        @Html.EditorFor(m => m.EmpName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.EmpName, "", new { @class = "text-danger" })
                        <br />

                    </td>

                </tr>

                <tr>
                    <td>PhoneNumber: </td>
                    <td>
                        <br />
                        @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control" })
                        <br />
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>

                <tr>
                    <td>Salary: </td>
                    <td>
                        <br />
                        @Html.EditorFor(m => m.Salary, new { @class = "form-control" })
                        <br />
                        @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "text-danger" })
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        Upload File:<br />
                    </td>
                    <td>
                        <br />
                        @Html.TextBoxFor(model => model.Files, "", new { @type = "file", @multiple = "multiple" })
                        @Html.ValidationMessageFor(m => m.Files, "", new { @class = "text-danger" })
                        <br /><br />
                        <button type="submit">Submit</button>
                       
                    </td>
                </tr>
            </table>
            }
        </div>
        <div>
            @ViewBag.list
            @*@foreach(var item in ViewBag.list)
            {
                <h3>@item.Id</h3>
                <br />
                <h3>@item.EmpName</h3>
            }*@
        </div>
        <a href="/Home/ShowEmployee">Show Employee</a>
        <br/><br/>
        <a href="/Home/AddEmployee">Add Employee</a>
    </body>
</html>