﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AskForEdit</title>
    <style>
        a {
            background-color: white;
            color: black;
            padding: 5px;
            text-decoration: none;
            border: 1px solid black;
        }
        a:hover {
            background-color: black;
            color: white;

        }
    </style>
</head>
<body>
    @Html.BeginForm("AskForEdit", "Home", FormMethod.Post)
    {
    <h3>Enter Employee ID</h3>
    @Html.Editor("id")
    <input type="submit" name="Submit" />
    }
    <br/><br/>
    <a href="/Home/ShowEmployee">Show Employee</a>
    <br/><br/>
    <a href="/Home/AddEmployee">Add Employee</a>

</body>
</html>
