﻿@model WebAppWithList.Models.Employee
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteEmployee</title>
    <style>
        body {
            background-color: lightgrey;
            color: black;
        }

        label {
            color: blue;
            font-size: large;
        }

        a {
            font-size: large;
        }

        .head_container {
            display: flex;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_link {
            display: flex;
            justify-content: space-between;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .head_container_form {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            font-size: large;
        }

        .form_button {
            display: flex;
            justify-content: space-around;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>

    <div class="head_container_form">
        @using (Html.BeginForm("DeleteEmployee", "Home", FormMethod.Post))
        {
            <p>Enter EmployeeId To Delete: </p>
            @Html.TextBox("Id");
            <button type="submit">Submit</button>
        }
    </div>
    <div>
        <h4>@ViewBag.Message</h4>
    </div>
    <br />
    <a href="/Home/Index">Home</a>
    <br /><br/>
    <a href="/Home/ShowEmployee">Show All Employee</a>
</body>
</html>
