﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body{
            background-color:lightgray;
        }
       .Link-container{
            display:flex;
            flex-flow:row nowrap;
            justify-content:center;
        }
        a {
            background-color: white;
            color: black;
            padding: 5px;
            text-decoration: none;
            border: 1px solid black;
        }
        a:hover {
            background-color: black;
            color: white;

        }


    </style>
</head>
<body>
    <h1>Employee Management System</h1>
    <div class="Link_Container"> 
        <div>
            <a href="/Home/AddEmployee">Add Employee</a>
        </div>
        <br/><br />
        <div>
            <a href="/Home/ShowEmployee">Show Employee</a>
        </div>
        <br /><br />
        <div>
            <a href="/Home/AskForEdit">Edit Employee</a>
        </div>
    </div>
</body>
</html>
