﻿@model WebAppWithList.Models.EmpModel
<html>
<head>
    <style>
        body {
            background-color: lightgrey;
            color: black;
        }

        label {
            color: blue;
            font-size: large;
        }

        a {
            background-color: white;
            color: black;
            padding: 5px;
            text-decoration: none;
            border: 1px solid black;
        }
        a:hover {
            background-color: black;
            color: white;

        }
        .head_container{
            display:flex;
            justify-content:center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .head_container_link{
            display:flex;
            justify-content:space-around;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .head_container_form {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            font-size: large;
        }
        a {
            font-size: large;
        }
        span{
            font-size:x-large;
        }
    </style>
</head>
<body>
    <div>
        <h3><u>EmpId</u>&nbsp;&nbsp;&nbsp;<u>EmpCode</u>&nbsp;&nbsp;<u>EmpName</u>&nbsp;&nbsp;<u>PhoneNumber</u>&nbsp;&nbsp;<u>Salary</u>&nbsp;&nbsp;<u>Image</u></h3>
        @foreach (var item in ViewBag.list)
        {
            <span>@item.Id</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>@item.EmpCode</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>@item.EmpName</span>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <span>@item.PhoneNumber</span>
            <span>&nbsp;&nbsp;</span>
            <span>@item.Salary</span>
            <span>&nbsp;&nbsp;</span>
            <span><img src="~/Content/ImageEmp/@item.ImgPath" alt="Not Available" width="80" /></span>
            <br />
        }
    </div>
    <br/><br/>
    <a href="/Home/Index">Home</a>
    <br /><br />
    <a href="/Home/AddEmployee">Add Employee</a>
    <br /><br />
    <a href="/Home/AskForEdit">Edit Employee Details</a>
    <br /><br />
    <a href="/Home/DeleteEmployee">Delete Employee</a>
</body>
</html>